/* src/components/BookList/BookList.css */
.book-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

.empty-list {
  text-align: center;
  padding: 3rem 2rem;
  color: var(--purple-glow);
  font-style: italic;
  font-size: 1.1rem;
  
  /* Gaya kartu transparan */
  background: var(--input-bg);
  border: 1px dashed var(--border-color);
  border-radius: 16px;
}